<div class="container-fluid d-flex flex-column justify-content-center align-items-center container-contents">
    <form action="/entrar" method="post">
        <div class=" div-space">
            <h2 class="text-color my-4"><strong>Seja bem vindo novamente</strong></h2>
        </div>
        <div class="div-space d-flex flex-column mb-2 control-form">
            <label for="email"><strong>Email</strong></label>
            <input type="email" name="email" placeholder="Digite seu email">
        </div>
        <div class="div-space d-flex flex-column mb-3 control-form">
            <label for="password"><strong>Senha</strong></label>
            <input type="password" name="password" placeholder="Digite sua senha">
        </div>
        <div class="div-space d-flex flex-column">
            <input class="mb-2" type="submit" value="Cadastrar">
            <p>Não possui uma conta? <a href="/cadastrar">Cadastrar</a></p>
        </div>
    </form>
</div>