<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RespondeAi</title>
    
    <link rel="short icon" href="/assets/logo_symbol.svg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
    <header class="py-2">
        <nav class="navbar navbar-expand-sm">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">
                    <img src="/assets/logo.svg" width="160" alt="">
                </a>

                <ul class="navbar-nav me-2 align-items-center">
                    <li class="nav-item">
                        <a href="/" class="nav-link visited-link  link-header">Perguntas do momento</a>
                    </li>
                    {{#if userData.session.userid}}
                        <li class="nav-item me-3 d-flex">
                            <img class="me-2" src="/assets/user_img.svg" width="42" alt="">
                            <div class="d-flex user-content-container flex-column">
                                <span><strong>{{userData.name}}</strong></span>
                                <a href="/perfil">Minha conta</a>
                            </div>
                        </li>
                    {{else}}
                        <li class="nav-item me-3">
                            <a href="/entrar" class="nav-link visited-link link-header">Entrar</a>
                        </li>
                    {{/if}}
                    <li class="nav-item">
                        <a href="/perguntar" class="btn px-4 button">Perguntar</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    {{#if messages.message}}
        <div class="message text-color">
        {{messages.message}}
        </div>
    {{/if}}
    
    <main class="container-sm">
        {{{body}}}
    </main>
    <footer>
        <div class="cotainer-fluid d-flex justify-content-between align-items-center p-3">
            <div>
                <img src="/assets/logo_footer.svg" width="150" alt="">
            </div>
            <span>&#174;2024 - RespondeAí</span>
            <div>
                <nav class="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item footer-link">
                            Política de privacidade
                        </li>
                        <li class="nav-item footer-link">
                            Termo de uso
                        </li>
                    </ul>
                </nav>
            </div>
            
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        <!-- No final do seu documento HTML ou em um arquivo separado -->
<script>

</script>

    </script>
</body>
</html>

